* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #eee;
    /* font-size: 18px; */
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 35px 25px;
}

.about {
    margin-top: 8%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
}

.about-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-description {
    display: flex;
    flex-direction: column;
}

.nav-links li {
    display: inline-block;
    margin-right: 30px;
}

.socials li {
    display: inline-block;
    margin-right: 30px;
}

.experience {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

.experience-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.experience-details {
    display: grid;
    grid-auto-rows: .54fr;
    text-align: center;
}

.experience-inner {
    display: grid;
    grid-auto-rows: 20px;
    text-align: center;
}

.project-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.projects {
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
}

.project-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.project-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer li {
    display: inline-block;
    margin-right: 30px;
}

/* Media Query for Small screens */
@media screen and (max-width: 900px) {
    header  {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    .headshot {
        margin-bottom: 20px;
    }
    .about {
        margin-right: 5%;
        margin-left: 5%;
    }
    .about-details {
        flex-direction: column;
    }
    .experience {
        margin-left: 5%;
        margin-right: 5%;
    }
    .experience-cards {
        display: flex;
        flex-direction: column;
    }
    .projects {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }
    .project-item {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .project-details {
        align-items: center;
    }
    .about-socials {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Media Query for Medium screens */
@media (min-width: 900px) {
    .about {
        margin-right: 10%;
        margin-left: 10%;
    }
    .projects {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* Media Query for Large screens */
@media (min-width: 1200px) {
    .about {
        margin-right: 20%;
        margin-left: 20%;
    }
    .projects {
        flex-direction: column;
        margin-left: 15%;
        margin-right: 15%;
    }
}

/* Media Query for Extra Large screens */
@media (min-width: 1800px) {
    .about {
        margin-right: 25%;
        margin-left: 25%;
    }
    .projects {
        flex-direction: column;
        margin-left: 20%;
        margin-right: 20%;
    }
}

/* Media Query for Even More Extra Large screens */
@media (min-width: 2200px) {
    .about {
        margin-right: 30%;
        margin-left: 30%;
    }
    .projects {
        flex-direction: column;
        margin-left: 25%;
        margin-right: 25%;
    }
}