* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 35px 25px;
}

.about {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.about-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-description {
    display: flex;
    flex-direction: column;
}

.nav-links li {
    display: inline-block;
    margin-right: 30px;
}

.socials li {
    display: inline-block;
    margin-right: 30px;
}

.skills {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

.experience-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.experience-details {
    display: grid;
    grid-auto-rows: .5fr;
    text-align: center;
}

.experience-inner {
    display: grid;
    grid-auto-rows: 20px;
    text-align: center;
}

.project-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.projects {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
}

.project-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.project-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: .75fr 1.25fr;
    gap: 20px;
    margin-bottom: 8%;
}

.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

footer {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer li {
    display: inline-block;
    margin-right: 30px;
}

/* Media Query for Small screens */
@media screen and (max-width: 900px) {
    header  {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    .nav-links li {
        text-align: center;
        margin: .5vh;
    }
    .headshot {
        margin-bottom: 20px;
    }
    .about {
        margin-right: 5%;
        margin-left: 5%;
    }
    .about-details {
        flex-direction: column;
    }
    .experience {
        margin-left: 5%;
        margin-right: 5%;
    }
    .experience-items {
        display: flex;
        flex-direction: column;
    }
    .experience-inner {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }
    .projects {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }
    .project-item {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .project-details {
        align-items: center;
    }
    .project-tags li {
        margin-bottom: 10px;
    }
    .about-socials {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }
    .form-group {
        display: flex;
        flex-direction: column;
    }
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        word-wrap: break-word;
        gap: 5px;
        margin-left: 5%;
        margin-right: 5%;
    }
    footer li {
        text-align: center;
        margin: .5vh;
    }
}

/* Media Query for Medium screens */
@media (min-width: 900px) {
    .about {
        margin-right: 10%;
        margin-left: 10%;
    }
    .experience {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }
    .projects {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }
    .contact {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* Media Query for Large screens */
@media (min-width: 1200px) {
    .about {
        margin-right: 20%;
        margin-left: 20%;
    }
    .experience {
        flex-direction: column;
        margin-left: 15%;
        margin-right: 15%;
    }
    .projects {
        flex-direction: column;
        margin-left: 15%;
        margin-right: 15%;
    }
    .contact {
        flex-direction: column;
        margin-left: 15%;
        margin-right: 15%;
    }
}

/* Media Query for Extra Large screens */
@media (min-width: 1800px) {
    .about {
        margin-right: 25%;
        margin-left: 25%;
    }
    .experience {
        margin-right: 20%;
        margin-left: 20%;
    }
    .projects {
        flex-direction: column;
        margin-left: 20%;
        margin-right: 20%;
    }
    .contact {
        flex-direction: column;
        margin-left: 20%;
        margin-right: 20%;
    }
}

/* Media Query for Even More Extra Large screens */
@media (min-width: 2200px) {
    .about {
        margin-right: 30%;
        margin-left: 30%;
    }
    .experience {
        margin-right: 20%;
        margin-left: 20%;
    }
    .projects {
        flex-direction: column;
        margin-left: 20%;
        margin-right: 20%;
    }
    .contact {
        margin-left: 20%;
        margin-right: 20%;
    }
    
}