@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --primary-color: #0072b1;
    --linkedin-color: #0072b1;
    --github-color: #6e5494;
    --font-color: #516377;
}

.typewriter h1 {
    overflow: hidden;
    border-right: 4px solid white;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 2.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

* {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--font-color);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.nav-links li:hover {
    transform: scale(1.1); 
}

html {
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%); */
    /* background-attachment: fixed; stretches gradient across whole page */
    background-color: #f3f4f4;
    color: var(--font-color);
    font-weight: 200;
}

.box-shadow {
    box-shadow: 0 2px 14px rgba(38,60,85,.16);
}

.text-logo {
    font-weight: 1000;
    font-size: 24px;
}

.about-header {
    margin-bottom: 20px;
}

.about-title {
    font-size: 42px;
    font-weight: 1000;
}

.about-sub {
    font-size: 20px;
    margin-top: -5px;
    color: var(--primary-color);
}

.about-details {
    margin-top: 20px;
}

.headshot {
    width: 200px;
    height: 200px;
    border-radius: 999px;
    margin-right: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.about-details p {
    font-size: 18px;
    line-height: 2em;
    word-wrap: break-word;
}

.email {
    margin-top: 20px;
    margin-bottom: 5px;
}

.about-socials {
    margin-top: 20px;
}

.about-socials li {
    display: inline-block;
    list-style-type: none;
    margin-right: 15px;
}

.blink {
    animation: blinker 1s linear infinite;
}

.blue {
    color: rgb(148, 163, 184, 1);
}

.section-title {
    font-size: 18px;
    font-weight: 200;
    color: rgb(148, 163, 184, 1);
}

.social-icon {
    height: 32px;
    width: 32px;
    border-radius: 999px;
}

.highlighted {
    background-color: black;
    padding: 5px 8px;
    color: white;
}

.github {
    border: 2px solid var(--github-color);
    border-radius: 999px;
    padding: 6px 14px;
}

.github:hover {
    background: var(--github-color);
}

.linkedin {
    border: 2px solid var(--linkedin-color);
    border-radius: 999px;
    padding: 6px 14px;
}

.linkedin:hover {
    background: var(--linkedin-color);
}

.input {
    min-width: 100%;
}

.experience-sub {
    font-size: 14px;
    color: rgb(148, 163, 184, 1);
}

.experience-timeframe {
    font-size: 12px;
    color: rgb(255, 255, 255, .5);
}

.experience-details {
    font-size: 16px;
}

.experience-image {
    width: 140px;
    height: 140px;
    border: 2px solid rgba(226,232,240, .5);
    object-fit: scale-down;
    border-radius: 999px;
    margin: 20px auto;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.project-details {
    font-size: 16px;
}

.project-item {
    margin-top: 15px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.project-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.project-image {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 2px solid rgba(226,232,240, .5);
}

.project-title {
    font-size: 16px;
}

.project-tags li {
    display: inline-block;
    font-size: 12px;
    margin-right: 4px;
    background-color: rgba(0, 114, 177, 0.1);
    color: var(--primary-color);
    padding: 4px 10px;
    border-radius: 999px;

}

.experience-item {
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #d4d8dd;
    background-color: #fff;
    border-radius: 10px;
}

.contact-title {
    font-size: 24px;
    font-weight: 400;
}

.input-box {
    background: rgba(0, 0, 0, 0.2);
    border: 0;
    outline: 0;
    padding: 8px 15px;
    border-radius: 10px;
}

input::placeholder, textarea::placeholder {
    font-size: 14px;
}

input:focus, textarea:focus {
    border: 2px solid var(--primary-color);
}

.input-box input {
    width: 100%;
}

textarea {
    resize: none;
}

footer p {
    font-size: 14px;
    color: rgb(148, 163, 184, 1);
}

footer a {
    font-size: 14px;
    color: rgb(148, 163, 184, 1);
}

footer li:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    .about-title {
        font-size: 32px;
        text-align: center;
    }
    .about-details p {
        font-size: 16px;
    }
    .headshot {
        margin-bottom: 35px;
    }
    .about-sub {
        font-size: 20px;
        text-align: center;
    }
}

.morph {
    border: 3px solid var(--linkedin-color);
    animation: morph 5s ease-in-out infinite;
}
