@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --primary-color: #005792;
    --linkedin-color: #0072b1;
    --github-color: #6e5494;
}

/* blinking effect */
@keyframes blinker {
    50% {
      opacity: 0;
    }
}

* {
    font-family: 'Inter', sans-serif;
    filter: saturate(120%);
}

a {
    text-decoration: none;
}

li:hover {
    transform: scale(1.1); 
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
    background-attachment: fixed; /* stretches gradient across whole page */
}

.text-logo {
    font-weight: 1000;
}

.about-header {
    margin-bottom: 20px;
}

.about-title {
    font-size: 48px;
    font-weight: 1000;
}

.about-sub {
    font-size: 24px;
    opacity: 0.5;
}

.about-details {
    margin-top: 20px;
}

@media screen and (max-width: 1200px) {
    .about {
        margin-top: 10px;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .headshot {
        margin-bottom: 20px;
    }
}

.headshot {
    width: 200px;
    height: 200px;
    border-radius: 999px;
    margin-right: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    filter: saturate(.5) ! important;
}

.about-details p {
    font-size: 18px;
    line-height: 2em;
    word-wrap: break-word;
}

.email {
    margin-top: 20px;
    margin-bottom: 5px;
}

.about-socials {
    margin-top: 20px;
}

.about-socials li {
    display: inline-block;
    list-style-type: none;
    margin-right: 15px;
}

.blink {
    animation: blinker 1s linear infinite;
}

.section-title {
    font-size: 16px;
}

.social-icon {
    height: 24px;
    width: 24px;
    border-radius: 999px;
}

.highlighted {
    background-color: white;
    /* border-radius: 999px; */
    padding: 5px 8px;
    color: black;
}

.github {
    border: 2px solid var(--github-color);
    border-radius: 999px;
    box-shadow: var(--github-color) 10px 10px 20px -10px;
    padding: 6px 14px;
}

.github:hover {
    background: var(--github-color);
}

.linkedin {
    border: 2px solid var(--linkedin-color);
    border-radius: 999px;
    box-shadow: var(--linkedin-color) 10px 10px 20px -10px;
    padding: 6px 14px;
}

.linkedin:hover {
    background: var(--linkedin-color);
}

.highlighted:hover {
    background-color: var(--linkedin-color);
    transition: background-color 800ms linear;
}

.contact-title {
    font-size: 32px;
    font-weight: 1000;
    margin-bottom: 10px;
}

.input {
    min-width: 100%;
}

