@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Public+Sans:wght@700&display=swap');

:root {
    --primary-color: #005792;
    --linkedin-color: #0072b1;
    --github-color: #6e5494;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
    background-attachment: fixed; /* stretches gradient across whole page */
}

.text-logo {
    font-weight: 1000;
}

.about-header {
    margin-bottom: 20px;
}

.about-title {
    font-size: 48px;
    font-weight: 1000;
}

.about-sub {
    font-size: 24px;
    opacity: 0.5;
}

.about-details {
    margin-top: 20px;
    width: 45%;
}

.about-details img {
    width: 200px;
    height: 200px;
    border-radius: 999px;
    margin-right: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.about-details p {
    word-wrap: break-word;
}

.blink {
    animation: blinker 1s linear infinite;
}

.section-title {
    font-size: 16px;
}

